body {
    background-color: #7D8D86;
}

.heading {
    text-align: center;
}

.container {
    width: fit-content;
    margin: 50px auto;
    margin-top: 0;
    position: relative;
}

.slide {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.icon-action {
    height: 70px;
    position: absolute;
    top: 45%;
    height: 35px;
    cursor: pointer;
    transition: 0.5s;
}

.icon-prev {
    left: 0;
    margin-left: 10px;
}

.icon-prev:hover {
    transform: scale(0.8) translateX(-10px);
}

.icon-next {
    right: 0;
    margin-right: 10px;
}

.icon-next:hover {
    transform: scale(0.8) translateX(10px);
}